{% extends "_base.html" %}
{% block content %}

<img src=https://media-exp1.licdn.com/dms/image/C4E0BAQH9ry_VPEPBPw/company-logo_200_200/0/1609696203090?e=1617840000&v=beta&t=zZvbSC0Zr3i8zwrTiRD5o6XwapPBs4lByvXKSOJi6ZA>
<h1>Please login to your Scanmatics account.</h1>

<form method="post" action="/">
    {{ form.csrf_token }}
    <div>
      {{ form.name.label }}
      {{ form.name }}
    </div>
    <div>
      {{ form.password.label }}
      {{ form.password }}
    </div>
    <div>
        {{ form.company.label }}
        {{ form.company }}
      </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
  
  <br>
  
  <div class="">
    <em>Need an account? </em><a href="/register">Signup!</a>
  </div>

{% endblock %}


