{% extends "_base.html" %}
{% block content %}
<img src=https://media-exp1.licdn.com/dms/image/C4E0BAQH9ry_VPEPBPw/company-logo_200_200/0/1609696203090?e=1617840000&v=beta&t=zZvbSC0Zr3i8zwrTiRD5o6XwapPBs4lByvXKSOJi6ZA>
<h1>Welcome to your Scanmatics account.</h1>
<div class="add-customer">
  <h3>Add a new customer:</h3>
  <table>
    <tr>
      <form action="{{ url_for('main.new_customer') }}" method="post">
        {{ form.csrf_token }}
        <td>
          <label>Customer Name:</label>
          <input name="name" type="text">
        </td>
        <td>
          &nbsp;
          &nbsp;
          <input class="button" type="submit" value="Save">
        </td>
      </form>
    </tr>
  </table>
</div>
<div class="customers">
  <br>
  <br>
  <h2>Customers:</h2>
  <div class="datagrid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="300px"><strong>Customer Name</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for customer in customers %}
        <tr>
          <td width="300px">{{ customer.name }}</td>
          <td>
            <a href="{{ url_for('main.projects', customer_id = customer.customer_id) }}">Projects</a>
            <a href="{{ url_for('main.delete_customer', customer_id = customer.customer_id) }}">Delete</a> 
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <br>
</div>

{% endblock %}