{% extends "_base.html" %}
{% block content %}
<img src=https://media-exp1.licdn.com/dms/image/C4E0BAQH9ry_VPEPBPw/company-logo_200_200/0/1609696203090?e=1617840000&v=beta&t=zZvbSC0Zr3i8zwrTiRD5o6XwapPBs4lByvXKSOJi6ZA>
<h1>Panels</h1>
<div>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
<div>
    <a href="{{ url_for('projects',customer_id=panel_project_customer_id) }}">Back</a>
</div>

<div class="add-panel">
  <h3>Add a new panel to the project</h3>
  <table>
    <tr>
      <form action="{{ url_for('new_panel', panel_project_id=panel_project_id) }}" method="post">
        {{ form.csrf_token }}
        <td>
          <label>Panel Name:</label>
          <input name="name" type="text">
        </td>
        <td>
          &nbsp;
          &nbsp;
          <input class="button" type="submit" value="Save">
        </td>
      </form>
    </tr>
  </table>
</div>
<div class="panels">
  <br>
  <br>
  <h2>Panels:</h2>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="300px"><strong>Project</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for panel in panels %}
        <tr>
          <td width="300px">{{ panel.name }}</td>
          <td>
            <a href="{{ url_for('delete_panel', panel_id = panel.panel_id) }}">Delete</a>
              
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <br>
</div>

{% endblock %}