{% extends "_base.html" %}
{% block content %}
<img src=https://media-exp1.licdn.com/dms/image/C4E0BAQH9ry_VPEPBPw/company-logo_200_200/0/1609696203090?e=1617840000&v=beta&t=zZvbSC0Zr3i8zwrTiRD5o6XwapPBs4lByvXKSOJi6ZA>
<h1>{{ customer_name }} Projects</h1>

<div>
    <a href="{{ url_for('main.main') }}">Back</a>
</div>

<div class="add-project">
  <h3>Add a new project</h3>
  <table class="table table-striped">
    <tr>
      <form action="{{ url_for('main.new_project', project_customer_id=project_customer_id) }}" method="post">
        {{ form.csrf_token }}
        <td>
          <label>Project Name:</label>
          <input name="name" type="text">
          <input class="button" type="submit" value="Save">
        </td>
        
      </form>
    </tr>
  </table>
</div>
<div class="projects">
  <br>
  <br>
  <h2>Projects:</h2>
  <div class="datagrid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="300px"><strong>Project</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for project in projects %}
        <tr>
          <td width="300px">{{ project.name }}</td>
          <td>
            <a href="{{ url_for('main.panels', project_id = project.project_id) }}">Panels</a>
            <a href="{{ url_for('main.delete_project', project_id = project.project_id) }}">Delete</a>   
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <br>
</div>

{% endblock %}