{% extends "_base.html" %}
{% block content %}

<img src=https://media-exp1.licdn.com/dms/image/C4E0BAQH9ry_VPEPBPw/company-logo_200_200/0/1609696203090?e=1617840000&v=beta&t=zZvbSC0Zr3i8zwrTiRD5o6XwapPBs4lByvXKSOJi6ZA>
<h1>Please register QR code to link your data.</h1>
<form method="POST" action="">
  {{ form.csrf_token }}
  <div>
    {{ form.panel_name.label }}
  </div>
  <div>
    {{ form.panel_name}}
  </div>
  <div>
    {{ form.panel_id.label }}
  </div>
  <div>
    {{ form.panel_id }}
  </div>
  <div>
    {{ form.end_user.label }}
  </div>
  <div>
    {{ form.end_user}}
  </div>
  
  <div>
    <input type="submit" value="Register QR code"></p>
  </div>
</form>

  <br>

{% endblock %}