
{% extends "_base.html" %}
{% block content %}
<img src=https://media-exp1.licdn.com/dms/image/C4E0BAQH9ry_VPEPBPw/company-logo_200_200/0/1609696203090?e=1617840000&v=beta&t=zZvbSC0Zr3i8zwrTiRD5o6XwapPBs4lByvXKSOJi6ZA>
<h1>Welcome to Scanmatics. Please register here.</h1>
<form method="POST" action="">
  {{ form.csrf_token }}
  <div>
    {{ form.name.label }}
    {{ form.name }}
  </div>
  <div>
    {{ form.email.label }}
    {{ form.email}}
  </div>
  <div>
    {{ form.company.label }}
    {{ form.company}}
  </div>
  <div>
    {{ form.password.label }}
    {{ form.password}}
  </div>
  <div>
    {{ form.confirm.label }}
    {{ form.confirm}}
  </div>
  <div>
    <input type="submit" value="Register"></p>
  </div>
</form>

  <br>

  <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>

{% endblock %}
